<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/masterLayout :: layout(~{::main})">


<body>
<main role="main">
    <div class="" th:if="${cartItem.isEmpty()}">
      <div class="h3 text-warning justify-content-center text-center p-5 m-5"> There is no Select Item</div>
    </div>
  <div class="row" th:if="${!cartItem.isEmpty()}">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card-header">
        <h3>Info</h3>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Author</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cartItem}">

          <td th:text="${item.id}"></td>
          <td th:text="${item.title}"></td>
          <td th:text="${item.author}"></td>
          <td th:text="${'$'+item.price}"></td>
          <td th:text="${item.quantity}"></td>
          <td th:text="${item.sum}"></td>
        </tr>
        </tbody>

      </table>
      <div class="card-footer">
        <div class="h3 text-muted" th:text="${'Total - $'+totalPrice}"></div>
      </div>


      </div>
    <div class="col-md-2"></div>

    </div>
  </div>
</main>
</body>
</html>